body,
html {
    height: 100%;
}

.card {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 25px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}
.btn-primary:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
}
.btn-info {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(91, 192, 222, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    /* border: 2px solid rgba(224, 228, 230, 0.75); */
    /* border-radius: 40px; */
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-info:hover {
    color: #FFF;
    background: rgba(91, 192, 222, 0.75);
    border: 2px solid rgba(91, 192, 222, 0.75);
}
.btn-success {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(103, 192, 103, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-success:hover {
    color: #FFF;
    background: rgb(103, 192, 103, 0.75);
    border: 2px solid rgb(103, 192, 103, 0.75);
}
.data-block {
    display: inline-block;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    width: 400px;
}
.data-block:hover {
    color: #FFF;
    background: rgb(103, 192, 103, 0.75);
    border: 2px solid rgb(103, 192, 103, 0.75);
}
.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 5px;
    cursor: pointer;
}

.pagination li.active {
    font-weight: bold;
    font-size:12px;
}
.pagination .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.pagination .dot.active {
    background-color: #007bff;
}
 .question-block {
     border: 1px solid #ddd;
     padding: 15px;
     
     border-radius: 5px;
 }

 .answers-block {
     display: flex;
     flex-wrap: wrap;
 }

 .answer {
     background-color: #f1f1f1;
     border: 1px solid #ccc;
     padding: 10px;
     margin: 5px;
     border-radius: 3px;
     width: 200px;
 }
 .timer {
     font-size: 2em;
     font-weight: bold;
     text-align: center;
     margin-top: 20px;
 }